doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width; initial-scale=1.0')
        title Welcome #{subject}

    body(style='background-color: #FFFFFF')
        table(border='0', cellpadding='10', cellspacing='0', style='background-color: #FFFFFF', width='100%')
            tbody
                tr
                    td
                        table(align='center', border='0', cellpadding='0', cellspacing='0', style='background-color: #FFFFFF; width: 100%; max-width: 600px')

                            tr
                                td(align='center' valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0', style='border-bottom:1px solid #f0f0f0', width='100%')
                                        tbody
                                            tr
                                                td(style='width:100%; max-width:600px', valign='top')
                                                    p Hi #{email}
                                                    h1
                                                        strong Congratulations on signing up!

                                                    h3 Thanks for joining. Your finish code: <strong style="color: #4277f4">#{secret}</strong>
                                                    p Please copy and paste this code in link bottom
                                                    a(href=url) Link to finish registration


                            tr(align='top')
                                td(valign='top')
                                    table(border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                            tr

                                            td(align='left', style='margin:0;padding-top:10px;line-height:1;', valign='top')
                                                h4
                                                    strong Jenny Smith

                                                h5 Community Manager at COG
